<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Duquesne Incline - Parking & Gift Shop</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <div class="navbar">
    <nav>
      <ul>
        <a href="../index.html">Home</a>
        <a href="field-trip.html">Field Trip Programs</a>
        <a href="history.html">History</a>
        <a href="parking.html">Parking & Gift Shop</a>
        <a href="contact.html">Contact Us</a>
      </ul>
    </nav>
  </div>

  <div class="title-banner">
    <h1>Parking & Gift Shop</h1>
  </div>

  <div class="gift">
    <section class="parking-lot">
      <h2>Parking Lot</h2>
      <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.569454743962!2d-80.01989822359945!3d40.440531571435876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f6af27d4c0fb%3A0xefe2eef32992cf5d!2sDuquesne%20Incline%20Parking%20West%20Carson%20Street%20Pittsburgh!5e0!3m2!1sen!2sus!4v1743477130138!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <section class="gift-shop">
      <h2>Gift Shop</h2>
      <div class="gift-images">
        <div class="gift-image">
          <img src="../static/images/gift1.jpg" alt="Gift Item 1">
        </div>
        <div class="gift-image">
          <img src="../static/images/gift2.jpg" alt="Gift Item 2">
        </div>
      </div>
    </section>
  </div>
  <div class="foot">
    <div class="foot-left">
      <p>1197 W Carson St, Pittsburgh, PA 15219</p>
      <p>Phone: +1 (412) 381-1665 | Email: duq.incline@duquesneincline.org</p>
    </div>
    <div class="foot-right">
      <img src="../static/duquesne-logo.png" alt="Duquesne Logo">
    </div>
  </div>

  <footer>
    <p>&copy; 2025 Duquesne Incline. All rights reserved.</p>
  </footer>

  <script src="../static/script.js"></script>
</body>
</html>
