/* Global Styles */
* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
}

#webname {
    background-color: #92ad70;
    color: white;
    text-align: left;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: #336699;
    margin-right: 15px;
    font-weight: bold;
}

th {
    padding: 12px 0;
    background-color: #555555;
    color: white;
    width: fit-content;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Flexbox Layout */
.mainLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#item1, #item2, #item3, #item4 {
    flex: 1 1 45%;
    margin: 10px;
}

/* Image Styling */
.funIMG {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* Advice Container Styling */
.container {
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

/* YouTube Video Styling */
iframe {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}